body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

main {
    max-width: 100%;
    margin: 20px 10px 20px 10px;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.content{
    text-align: justify;
}
 h1{
    text-align: center;
    font-weight: bold;
    font-size: xx-large;
}
 



