
/* Registration page Start */
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
  }

  .container {
    background-color: #007BFF;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    width: 400px;
    max-width: 90%;
    transition: transform 0.2s ease-in-out;
  }

  .container h2 {
    font-size: 28px;
    margin-bottom: 20px;
    text-align: center;
    color: #ffffff;
  }

  .container:hover {
    color: #fff;
    background-color: rgb(56, 54, 54);
    transform: scale(1.05);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

  .form-group {
    margin-bottom: 20px;
  }

  label {
    color: #fff;
    display: block;
    font-weight: bold;
    margin-bottom: 8px;
  }

  input[type="text"],
  input[type="email"],
  input[type="password"],
  input[type="confirmPassword"] {
    width: 90%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 6px;
    transition: border-color 0.3s;
  }

  input[type="text"]:focus,
  input[type="email"]:focus,
  input[type="password"]:focus,
  input[type="confirmPassword"]:focus {
    border-color: #1877f2;
  }

  button {
    background-color: #ffffff;
    color: #007BFF;
    padding: 10px;
    margin-left: 315px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    font-weight: bold;
    transition: background-color 0.3s;
    text-transform: uppercase;
  }

  button:hover {
    background-color: #007BFF;
    color: white;
  }

  .login-link {
    color: #fff;
    text-align: center;
    margin-top: 20px;
  }

  .login-link a {
    color: #ffffff;
    text-decoration: none;
    font-weight: bold;
  }

  .login-link a:hover{
    color: #368eeb;
  }

/* Registration page End */





  