body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
}

.page-content {
    max-width: 600px;
    margin: 0 auto;
    background-color: #3498d6;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    margin-top: 30px;
    transition: transform 0.2s ease-in-out;

}

.page-content:hover{
    background-color: rgb(56, 54, 54);
    transform: scale(1.05);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

pre {
    font-family: Arial, sans-serif;
    font-weight: bold;
    color: #ffffff;
    margin-top: 10px;
    display: inline-block;
    width: 30%;
}

dd {
    color: #ffffff;
    margin: 0;
    margin-left: 10px;
    margin-top: 10px;
    display: inline-block;
    width: 65%;
}


.delete-button,
.update-button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #ff3333;
    color: #fff;
    text-decoration: none;
    border: 2px solid #ffffff; /* Add white border */
    border-radius: 5px;
    margin: 5px;
    margin-top: 20px;
    font-weight: bold;
    text-transform: uppercase;
}

.update-button {
    margin-left: 350px; /* Adjust the margin to your preference */
    background-color: #1f971f;
}

.update-button:hover{
    background-color: #fff;
    color: #1f971f;
    border: 2px solid #1f971f;

}
.delete-button:hover {
    color: #e55a5a;
    background-color: #fff;
    border: 2px solid #e55a5a;
}
