body, h2, form {
    margin: 0;
    padding: 0;
}

body {
    background-color: #f4f4f4;
    font-family: Arial, sans-serif;
}

.container {
    background-color: #007BFF;
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    position: relative;
    transition: transform 0.2s ease-in-out;

}

h2 {
    text-align: center;
    font-size: 24px;
    margin-bottom: 20px;
    color: #ffffff;
}

form {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.container:hover {
    color: #fff;
    background-color: rgb(56, 54, 54);
    transform: scale(1.05);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}




.row {
    width: 100%;
    margin-bottom: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.row-item {
    width: 48%;
    margin-bottom: 10px;
}

input {
    width: 90%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    transition: border-color 0.3s ease-in-out;
}

input:focus {
    border-color: #007bff; /* Highlight input fields on focus */
}

.add-button {
    background-color: #1f971f;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 15px;
    transition: background-color 0.3s ease-in-out;
    position: absolute;
    bottom: 20px;
    right: 35px;
    border: 2px solid #ffffff;
    text-transform: uppercase;
    font-weight: bold;


}

.add-button:hover {
    background-color: #fff;
    color: #1f971f;
    border: 2px solid #1f971f;
}

label {
    display: block;
    font-weight: bold;
    margin-bottom: 6px;
    color: #ffffff;
    font-size: 16px;
}
