<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Include CSS stylesheets for styling -->
    <link rel="stylesheet" href="/style/footer.css">
    <title>Footer</title>
</head>
<body>
    <footer>
        <p>&copy; 2023 student Record</p>
    </footer>
</body>
</html>