<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Include CSS stylesheets for styling -->
    <link rel="stylesheet" href="/style/footer.css">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">

    <title>Footer</title>
</head>
<body>
    <footer>
        <p>&copy; 2023 Learn and earn</p>

        <!-- Add social media icons -->
    <div class="social-icons">
        <a class = "fb "href="#"><i class="fab fa-facebook"></i></a>
        <a class = "insta "href="#"><i class="fab fa-instagram"></i></a>
        <a class = "twitter "href="#"><i class="fab fa-twitter"></i></a>
        <a class = " git"href="#"><i class="fab fa-github"></i></a>
        <a class = "stack "href="#"><i class="fab fa-stack-overflow"></i></a>
        <a class = "yt "href="#"><i class="fab fa-youtube"></i></a>

    </div>
    </footer>
</body>
</html>