<%- include("navbar.ejs")%>


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style/home.css">
    <link rel="stylesheet" href="style/navbar.css">
    <link rel="stylesheet" href="style/footer.css">
    <title>Student Record Dashboard</title>
</head>
<body>
    <main>
        <section class="student-list">
            <div>
                <p class="mainContent">Lorem ipsum dolor sit amet consectetur adipisicing elit. Alias laborum consequatur corporis voluptate error pariatur velit obcaecati est saepe aspernatur omnis architecto quis voluptatum dignissimos exercitationem, reiciendis tempore cupiditate dicta. Lorem ipsum dolor sit, amet consectetur adipisicing elit. Optio qui numquam, modi voluptate veritatis ex sequi, amet eligendi, fuga obcaecati corrupti? Assumenda ex dolorum a deserunt quisquam, velit similique nobis!
                Dolorum possimus veritatis adipisci, debitis quas, quam aspernatur odit voluptatum officiis necessitatibus facilis pariatur soluta repellendus fuga unde aut sequi atque officia ut ipsa? Dolor architecto iusto magni dolores reiciendis!
                Ipsum animi provident id eius architecto? Voluptate nesciunt ipsum, voluptatibus deserunt sint soluta cum consequuntur velit provident sunt? Nulla dolor culpa officiis possimus vero eligendi, quasi impedit ut velit earum!
                Ea ex nobis similique excepturi, ab totam ipsam repellendus, eos distinctio nesciunt quasi praesentium voluptatibus minus quibusdam ut accusantium! Recusandae consequatur nihil quis aliquid numquam quidem facere officia ratione unde.
                Aspernatur doloribus, id minus repellendus et laborum mollitia maiores veritatis ipsa, tempore, sed voluptatum? Corporis amet, vel minima delectus labore perspiciatis voluptas debitis similique aliquid cupiditate, animi sed facilis modi.
                Ex illo, illum dolore magni natus excepturi? Sint cum animi ipsum nobis eos officiis aut dolorum, corporis doloribus nulla, accusamus, labore iure quasi. Assumenda itaque perferendis in laudantium dolorum obcaecati!
                Possimus, dolorum molestias laudantium saepe hic voluptas pariatur recusandae accusamus aut ullam, deserunt officiis quae delectus sequi corporis nisi qui fuga! Animi iure quidem voluptates aliquam, distinctio in sit voluptatibus.
                Repudiandae dolores fuga sapiente. Similique reprehenderit vitae consequatur, optio ipsam nostrum atque pariatur maiores explicabo in voluptates quaerat. Ex officia id dolorem molestias odit eveniet temporibus consectetur impedit voluptatum ut!
                Sunt magnam animi repellat quod sint quasi, amet at illo, aspernatur sequi odit officiis voluptas voluptatibus harum. Officiis ex, quia odit molestias, suscipit libero beatae similique praesentium ipsum reiciendis harum!
                Enim minima beatae omnis et ex. Id ipsam laboriosam molestias adipisci distinctio similique magni in accusantium ducimus consequatur ex totam architecto incidunt, quod qui, eos enim rerum temporibus? Sint, quo!</p><br><br>

                <p class="mainContent">Lorem ipsum dolor sit amet consectetur adipisicing elit. Alias laborum consequatur corporis voluptate error pariatur velit obcaecati est saepe aspernatur omnis architecto quis voluptatum dignissimos exercitationem, reiciendis tempore cupiditate dicta. Lorem ipsum dolor sit, amet consectetur adipisicing elit. Optio qui numquam, modi voluptate veritatis ex sequi, amet eligendi, fuga obcaecati corrupti? Assumenda ex dolorum a deserunt quisquam, velit similique nobis!
                Dolorum possimus veritatis adipisci, debitis quas, quam aspernatur odit voluptatum officiis necessitatibus facilis pariatur soluta repellendus fuga unde aut sequi atque officia ut ipsa? Dolor architecto iusto magni dolores reiciendis!
                Ipsum animi provident id eius architecto? Voluptate nesciunt ipsum, voluptatibus deserunt sint soluta cum consequuntur velit provident sunt? Nulla dolor culpa officiis possimus vero eligendi, quasi impedit ut velit earum!
                Ea ex nobis similique excepturi, ab totam ipsam repellendus, eos distinctio nesciunt quasi praesentium voluptatibus minus quibusdam ut accusantium! Recusandae consequatur nihil quis aliquid numquam quidem facere officia ratione unde.
                Aspernatur doloribus, id minus repellendus et laborum mollitia maiores veritatis ipsa, tempore, sed voluptatum? Corporis amet, vel minima delectus labore perspiciatis voluptas debitis similique aliquid cupiditate, animi sed facilis modi.
                Ex illo, illum dolore magni natus excepturi? Sint cum animi ipsum nobis eos officiis aut dolorum, corporis doloribus nulla, accusamus, labore iure quasi. Assumenda itaque perferendis in laudantium dolorum obcaecati!
                Possimus, dolorum molestias laudantium saepe hic voluptas pariatur recusandae accusamus aut ullam, deserunt officiis quae delectus sequi corporis nisi qui fuga! Animi iure quidem voluptates aliquam, distinctio in sit voluptatibus.
                Repudiandae dolores fuga sapiente. Similique reprehenderit vitae consequatur, optio ipsam nostrum atque pariatur maiores explicabo in voluptates quaerat. Ex officia id dolorem molestias odit eveniet temporibus consectetur impedit voluptatum ut!
                Sunt magnam animi repellat quod sint quasi, amet at illo, aspernatur sequi odit officiis voluptas voluptatibus harum. Officiis ex, quia odit molestias, suscipit libero beatae similique praesentium ipsum reiciendis harum!
                Enim minima beatae omnis et ex. Id ipsam laboriosam molestias adipisci distinctio similique magni in accusantium ducimus consequatur ex totam architecto incidunt, quod qui, eos enim rerum temporibus? Sint, quo!</p><br><br>

                <p class="mainContent">Lorem ipsum dolor sit amet consectetur adipisicing elit. Alias laborum consequatur corporis voluptate error pariatur velit obcaecati est saepe aspernatur omnis architecto quis voluptatum dignissimos exercitationem, reiciendis tempore cupiditate dicta. Lorem ipsum dolor sit, amet consectetur adipisicing elit. Optio qui numquam, modi voluptate veritatis ex sequi, amet eligendi, fuga obcaecati corrupti? Assumenda ex dolorum a deserunt quisquam, velit similique nobis!
                Dolorum possimus veritatis adipisci, debitis quas, quam aspernatur odit voluptatum officiis necessitatibus facilis pariatur soluta repellendus fuga unde aut sequi atque officia ut ipsa? Dolor architecto iusto magni dolores reiciendis!
                Ipsum animi provident id eius architecto? Voluptate nesciunt ipsum, voluptatibus deserunt sint soluta cum consequuntur velit provident sunt? Nulla dolor culpa officiis possimus vero eligendi, quasi impedit ut velit earum!
                Ea ex nobis similique excepturi, ab totam ipsam repellendus, eos distinctio nesciunt quasi praesentium voluptatibus minus quibusdam ut accusantium! Recusandae consequatur nihil quis aliquid numquam quidem facere officia ratione unde.
                Aspernatur doloribus, id minus repellendus et laborum mollitia maiores veritatis ipsa, tempore, sed voluptatum? Corporis amet, vel minima delectus labore perspiciatis voluptas debitis similique aliquid cupiditate, animi sed facilis modi.
                Ex illo, illum dolore magni natus excepturi? Sint cum animi ipsum nobis eos officiis aut dolorum, corporis doloribus nulla, accusamus, labore iure quasi. Assumenda itaque perferendis in laudantium dolorum obcaecati!
                Possimus, dolorum molestias laudantium saepe hic voluptas pariatur recusandae accusamus aut ullam, deserunt officiis quae delectus sequi corporis nisi qui fuga! Animi iure quidem voluptates aliquam, distinctio in sit voluptatibus.
                Repudiandae dolores fuga sapiente. Similique reprehenderit vitae consequatur, optio ipsam nostrum atque pariatur maiores explicabo in voluptates quaerat. Ex officia id dolorem molestias odit eveniet temporibus consectetur impedit voluptatum ut!
                Sunt magnam animi repellat quod sint quasi, amet at illo, aspernatur sequi odit officiis voluptas voluptatibus harum. Officiis ex, quia odit molestias, suscipit libero beatae similique praesentium ipsum reiciendis harum!
                Enim minima beatae omnis et ex. Id ipsam laboriosam molestias adipisci distinctio similique magni in accusantium ducimus consequatur ex totam architecto incidunt, quod qui, eos enim rerum temporibus? Sint, quo!</p>
            </div>
        </section>
    </main>
    <%- include("footer.ejs")%>
</body>
</html>
