<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Login Page</title>
        <!-- Include CSS stylesheets for styling -->
        <link rel="stylesheet" href="/style/login.css">
    </head>
<body>
    <div class="container">
        <h2>LOGIN</h2>
            <!-- Create a form for user login with a POST request to "/createLogin" endpoint -->
            <form action="/createLogin" method="post">
                <div class="form-group">
                    <label for="email">Email</label>
                    <input type="email" id="email" name="email" placeholder="Enter your vaid email" required>
                </div>

                <div class="form-group">
                    <label for="password">Password</label>
                    <input type="password" id="password" name="password" placeholder="Enter your password" required>
                </div>

                <!-- Create a "Log In" button to submit the form -->
                <button type="submit">Login</button>
            </form>
                <div class="signup-link">
                    Don't have an account? <a href="/">Sign up</a>
                </div>
    </div>
</body>
</html>

