<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>logout page</title>
    <link rel="stylesheet" href="/style/logout.css">
</head>
<body>
    <div class="modal" id="logout-modal">
        <div class="modal-content">
            <p>Are you sure you want to logout?</p>
            <div class="modal-buttons">
                <a href="/logout" class="modal-button">Yes</a>
                <button class="modal-button" id="cancel-button">Cancel</button>
            </div>
        </div>
      </div>
</body>
</html>