
<!-- <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Navbar</title>
</head>
<body>
    <nav>
        <img src="logo.jpg" alt="Logo">
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/addStudentsDetails">Add Student Details</a></li>
            <li><a href="/allDetails">All Details</a></li>
        </ul>
    </nav>
</body>
</html> -->


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Node js Project</title>
    <!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"> -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">


</head>
<body>
    <div class="navbar">
        <a href="#" class="navbar-logo">
          <img src="/mainlogo.jpg" alt="Logo">
          Learn & Earn
        </a>

        <ul class="navbar-links">
          <li><a href="/" class="nav-link" data-tooltip="Home"><i class="fas fa-home"></i></a></li>
          <li><a href="/addStudentsDetails" class="nav-link" data-tooltip="Add Details"><i class="fas fa-folder-plus"></i></a></li>
          <li><a href="/allDetails" class="nav-link" data-tooltip="All Details"><i class="fas fa-handshake"></i></a></li>
        </ul>

      </div>

      
          

</body>
</html>