
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Navbar</title>
</head>
<body>
    <nav>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/addStudentsDetails">Add Student Details</a></li>
            <li><a href="/allDetails">All Details</a></li>
        </ul>
    </nav>
</body>
</html>